# OS
.DS_Store
Thumbs.db

# Node
node_modules/
npm-debug.log*
yarn-error.log

# VSCode
.vscode/

# Python
__pycache__/

# Archives
buzzard.zip

# Logs
*.log

# Secrets
.env

# Tools
/tools/

# Local server plugin data
server/data/
